{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "printWidth": 180,
    "tabWidth": 4,
    "useTabs": true,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}